.parentsidemenu{
    width: 18vw;
    background-color: white;
    height:100vh;
    overflow-y: scroll;
}
.comanylogodiv{
    display: flex;
    padding-top: 2em;
    align-items: center;
}
.companyName{
    font-size: 1.4em;
    color: #3F7ADE;
    font-weight: bold;
    padding-left: 0.7em;
}
.logo{
    height:60px;
    width: 60px;
    border-radius: 60px;
    background-color: #3F7ADE;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 60px;
    margin-left: 1em;
    color: white;
}
.menu{
    font-size: 1.4em;
    color: #475880;
    font-weight: bold;
    padding-top: 1.6em;
    padding-left:0.8em;
}
.menudiv{
    display: flex;
    padding-top: 1.1em;
    align-items: center;
    cursor: pointer;
}
.icondiv{
    padding-left: 1.2em
}
.module{
    font-size: 1.1em;
    color: #7C8EB5;
    font-weight: bold;
    padding-left: 1em;
}
fa-icon{
    color: #7C8EB5;
    font-size: 1.4em;  
}
.usersicon{
    color: #7C8EB5;
    font-size: 1.3em;  
}
::-webkit-scrollbar {
    width: 0.5em;
    /* height: 22em */
}
::-webkit-scrollbar-button {
    background: #bdd5ff
}
 ::-webkit-scrollbar-track-piece {
    background: #F2F6FC
}
::-webkit-scrollbar-thumb {
    background: #eee
} 