<div class="parentsidemenu">
   <div class="comanylogodiv">
    
    <div class="logo">logo</div>
    <div class="companyName" >Tumbas</div>
   </div>  
 
   <div class="menu">Menu</div>
   <div class="menudiv">
    <div class="icondiv">
      <fa-icon [icon]="faBorderAll"></fa-icon>
    </div>  
    
    <div class="module">Overview</div>
   </div>

   <div class="menudiv">
    <div class="icondiv">
      <fa-icon [icon]="faFileInvoice"></fa-icon></div>
    <div class="module">Orders</div>
   </div>

   <div class="menudiv">
    <div class="icondiv">
      <fa-icon [icon]="faShoppingBag"></fa-icon>
    </div>  
    <div class="module">Products</div>
   </div>

   <div class="menudiv">
    <div class="icondiv">
      <fa-icon [icon]="faCog"></fa-icon>
    </div>  
    <div class="module">Settings</div>
   </div>


   <div class="menu">Business</div>
   <div class="menudiv">
    <div class="icondiv">
      <fa-icon [icon]="faPaperPlane" ></fa-icon>
    </div>  
    
    <div class="module">Shipment</div>
   </div>

   <div class="menudiv">
    <div class="icondiv">
      <fa-icon [icon]="faUsers" class="usersicon"></fa-icon></div>
    <div class="module">Employee</div>
   </div>
</div>
